@import "./base.css";

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
}

main{
  background-color: rgb(172, 168, 168);
  height: 350px;
  width: 500px;
}

h1, h2, p{
  color: yellow;
  font-style: italic;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/e0/9f/e9/e09fe970d3bbb2d340f7f4729955bdad.jpg);
  }
}
